# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\复试\NextTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
